{% extends "layout.html" %}
{% block body %}
      <div class="centered" style="margin:100px auto">
        
        <!--When getting on the bus -->
      {% if session.getting == 1 %}
        <a class="hrefText" lang="en" href="{{ url_for('add_on') }}" 
        >GETTING ON!</a>
        <!--When getting off the bus (Ctnled by app, delecat) -->
      {% elif session.getting == 0 %}
        <a class="hrefText" lang = "en" href="{{ url_for('add_off') }}" >GETTING OUT!(This btn'll be deleted)</a>
      {% endif %}
    </div>
{% endblock %}