{% extends "layout.html" %} {% block body %}
  <table style="width:100%">
  <tr>

    <th>버스 번호</th>
    <th>승객 수</th>

  </tr>

  {% for entry in entries %}
    <tr>
      <td>{{ entry.bus_id }}</td>
      <td>{{ entry.num }}</td>

    </tr>
  {% else %}
    <tr>
      <td>버스 목록이 비어있습니다.</td>
    </tr>
  {% endfor %}
  </table>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    num = 0;
    socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.emit('busListJoin');
    function tempAlert(msg, duration) {
        var el = document.createElement("div");
        el.setAttribute("style", "text-align:center;top:50%;margin:auto;background-color:white;");
        el.innerHTML = msg;
        setTimeout(function () {
            el.parentNode.removeChild(el);
        }, duration);
        document.body.appendChild(el);
    };
    socket.on('connect', function () {
    });
    socket.on('disconnect', function () {
    });

    socket.on('update', function () {
        emit('busListUpdate')
    });


</script>
{% endblock %}